		<table class=\"w100\">
	<tr>
	<td class=\"nheader\">
	Customer Knowledge Assessment (CKA)
	</td>
	</tr>
	</table>
	<div class=\"pd8\" style=\"margin-top: 4px; border: solid #DBE5F1 2.25pt\">
	<div class=\"pt10 b\">Important Notice to Client on the Completion of Customer Acknowledge Assessment</div>
	<div class=\"pt9\">The purpose of the Customer Knowledge Assessment (CKA) is to assess whether you have the relevant knowledge or experience to understand the features and associated risks of an unlisted Specific Investment Product, such as Collective Investment Schemes (CIS) or Investment linked Policies (ILP).Please answer the following questions in the CKA section.  Any inaccurate or incomplete information provided by you may affect the assessment outcome and the suitability of the product recommended, if any.</div>
	</div>
	<div class=\"pt9\">If you satisfy any of the following, you may be assessed as possessing the knowledge or experience in an unlisted Specified Investment Product for the purpose of the satisfaction of the CKA in the unlisted Specified Investment Product concerned:</div>
	<table class=\"w100 pt9\" style=\"margin-top: 4px;\">
	<tr>
	<td class=\"nsheader2 nborder pd8\" colspan=\"3\">
	Customer Knowledge Assessment criteria
	</td>
	<td class=\"nsheader2 tc nborder pd8\" style=\"width: 20%\">Myself</td>
	<td class=\"nsheader2 tc nborder pd8\" style=\"width: 20%\">Spouse</td>
	</tr>
	<tr>
	<td class=\"nborder b pd8\" rowspan=\"5\">Education/<br/>Professional<br/>Qualification</td>
	<td class=\"nborder pd4\" colspan=\"2\">(1) You have a Diploma or a higher Qualification in:</td>
	<td class=\"nborder pd4\">
	<div class=\"ib pdr8\"><xsl:choose><xsl:when test=\"/root/cka/owner/course and not(/root/cka/owner/course ='notApplicable')\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> Yes</div>
	<div class=\"ib\"><xsl:choose><xsl:when test=\"/root/cka/owner/course ='notApplicable'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> No</div>
	</td>
	<td class=\"nborder pd4\">
	<div class=\"ib pdr8\"><xsl:choose><xsl:when test=\"/root/cka/spouse/course and not(/root/cka/spouse/course ='notApplicable')\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> Yes</div>
	<div class=\"ib\"><xsl:choose><xsl:when test=\"/root/cka/spouse/course ='notApplicable'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> No</div>
	</td>
	</tr>
	<tr>
	<td class=\"pd4 nborder\" style=\"width:22%\" rowspan=\"2\">
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 16px;\">
			<xsl:choose><xsl:when test=\"/root/cka/owner/course='accountancy' or /root/cka/spouse/course='accountancy'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose>
		</div>
		<div class=\"dtc\">
			Accountancy
		</div>
	</div>
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 16px;\">
			<xsl:choose><xsl:when test=\"/root/cka/owner/course='acturialScience' or /root/cka/spouse/course='acturialScience'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose>
		</div>
		<div class=\"dtc\">
			Actuarial Science
		</div>
	</div>
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 16px;\">
			<xsl:choose><xsl:when test=\"/root/cka/owner/course='business' or /root/cka/spouse/course='business' or /root/cka/owner/course='businessAdministration' or /root/cka/spouse/course='businessAdministration' or /root/cka/owner/course='businessManagement' or /root/cka/spouse/course='businessManagement' or /root/cka/owner/course='businessStudies' or /root/cka/spouse/course='businessStudies'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose>
		</div>
		<div class=\"dtc\">
			Business/<br/>Business Administration/ Business Management/ Business Studies
		</div>
	</div>
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 16px;\">
			<xsl:choose><xsl:when test=\"/root/cka/owner/course='capitalMarkets' or /root/cka/spouse/course='capitalMarkets'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose>
		</div>
		<div class=\"dtc\">
			Capital Markets
		</div>
	</div>
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 16px;\">
			<xsl:choose><xsl:when test=\"/root/cka/owner/course='commerce' or /root/cka/spouse/course='commerce'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose>
		</div>
		<div class=\"dtc\">
			Commerce
		</div>
	</div>
	</td>
	<td class=\"pd4 nborder\" style=\"width:22%; vertical-align: top;\" rowspan=\"2\">
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 16px;\">
			<xsl:choose><xsl:when test=\"/root/cka/owner/course='computationalFinance' or /root/cka/spouse/course='computationalFinance'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose>
		</div>
		<div class=\"dtc\">
			Computational Finance
		</div>
	</div><div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 16px;\">
			<xsl:choose><xsl:when test=\"/root/cka/owner/course='economics' or /root/cka/spouse/course='economics'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose>
		</div>
		<div class=\"dtc\">
			Economics
		</div>
	</div>
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 16px;\">
			<xsl:choose><xsl:when test=\"/root/cka/owner/course='finance' or /root/cka/spouse/course='finance'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose>
		</div>
		<div class=\"dtc\">
			Finance
		</div>
	</div>
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 16px;\">
			<xsl:choose><xsl:when test=\"/root/cka/owner/course='financialEngineering' or /root/cka/spouse/course='financialEngineering'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose>
		</div>
		<div class=\"dtc\">
			Financial Engineering
		</div>
	</div>
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 16px;\">
			<xsl:choose><xsl:when test=\"/root/cka/owner/course='financialPlanning' or /root/cka/spouse/course='financialPlanning'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose>
		</div>
		<div class=\"dtc\">
			Financial Planning
		</div>
	</div>
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 16px;\">
			<xsl:choose><xsl:when test=\"/root/cka/owner/course='insurance' or /root/cka/spouse/course='insurance'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose>
		</div>
		<div class=\"dtc\">
			Insurance
		</div>
	</div>
	</td>
	<td class=\"pd4 nborder\" colspan=\"2\">
	If Yes, please provide details of qualification:
	</td>
	</tr>
	<tr>
	<td class=\"pd4 nborder\" style=\"vertical-align: top; position: relative;\" rowspan=\"3\">
	<div style=\"position: absolute; bottom: 0px; top: 0px; left: -1pt; width: 1pt; background: #D1D3D4\" />
	<div style=\"position: absolute; bottom: 0px; top: 0px; right: -1pt; width: 1pt; background: #D1D3D4\" />
	<div>Name of Institution:</div>
	<div class=\"ta\" style=\"min-height: 16px;\"><xsl:value-of select=\"/root/cka/owner/institution\"/></div>
	<div>Period of study:</div>
	<div class=\"ta\" style=\"min-height: 16px;\"><xsl:value-of select=\"/root/cka/owner/studyPeriodEndYear\"/></div>
	</td>
	<td class=\"pd4 nborder\" style=\"vertical-align: top; position: relative;\" rowspan=\"3\">
	<div style=\"position: absolute; bottom: 0px; top: 0px; left: -1pt; width: 1pt; background: #D1D3D4\" />
	<div style=\"position: absolute; bottom: 0px; top: 0px; right: -1pt; width: 1pt; background: #D1D3D4\" />
	<div>Name of Institution:</div>
	<div class=\"ta\" style=\"min-height: 16px;\"></div>
	<div>Period of study:</div>
	<div class=\"ta\" style=\"min-height: 16px;\"></div>
	</td>
	</tr>
	<tr>
	<td class=\"pd4 nborder\" colspan=\"2\">
	(2) You have a professional Finance-related qualification in:
	</td>
	</tr>
	<tr>
	<td class=\"nborder pd4\">
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 16px;\">
			<xsl:choose><xsl:when test=\"/root/cka/owner/course='acca'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose>
		</div>
		<div class=\"dtc\">
			Chartered Certified Accountants (ACCA)
		</div>
	</div>
	</td>
	<td class=\"nborder pd4\">
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 16px;\">
			<xsl:choose><xsl:when test=\"/root/cka/owner/course='cfa' or /root/cka/spouse/course='cfa'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose>
		</div>
		<div class=\"dtc\">
			Chartered Financial Analyst (CFA)
		</div>
	</div>
	</td>
	</tr>

	<tr>
	<td class=\"nborder b pd8\" rowspan=\"3\">Investment<br/>Experience</td>
	<td class=\"nborder pd4\" rowspan=\"3\" colspan=\"2\">
	<div class=\"dt w100\">
		<div class=\"dtc\" style=\"width: 20px;\">
		(3) 
		</div>
		<div class=\"dtc\">
			You have invested in the following unlisted Specified Investment Products and transacted at least 6 times in the preceding 3 years:
			<div class=\"dt w100\">
				<div class=\"dtc\" style=\"width: 12px;\"><xsl:choose><xsl:when test=\"/root/cka/owner/collectiveInvestment = 'Y' or /root/cka/spouse/collectiveInvestment = 'Y'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose></div>
				<div class=\"dtc\">Collective Investment Schemes (e.g. \"Unit Trusts\")</div>
			</div>
			<div class=\"dt w100\">
				<div class=\"dtc\" style=\"width: 12px;\"><xsl:choose><xsl:when test=\"/root/cka/owner/insuranceInvestment = 'Y' or /root/cka/spouse/insuranceInvestment = 'Y'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose></div>
				<div class=\"dtc\">Investment-linked Policies </div>
			</div>
		</div>
	</div>
	</td>
	<td class=\"nborder pd4\">
	<div class=\"ib pdr8\"><xsl:choose><xsl:when test=\"/root/cka/owner/collectiveInvestment = 'Y' or /root/cka/owner/insuranceInvestment = 'Y'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> Yes</div>
	<div class=\"ib\"><xsl:choose><xsl:when test=\"/root/cka/owner/collectiveInvestment = 'N' and /root/cka/owner/insuranceInvestment = 'N'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> No</div>
	</td>
	<td class=\"nborder pd4\">
	<div class=\"ib pdr8\"><div class=\"ncrbtn ib\"/> Yes</div>
	<div class=\"ib\"><div class=\"ncrbtn ib\"/> No</div>
	</td>
	</tr>
	<tr>
	<td class=\"pd4 nborder\" colspan=\"2\">
	If Yes, please provide the type of transaction and product.
	</td>
	</tr>
	<tr>
	<td class=\"pd4 nborder\">
	<div class=\"ta\" style=\"min-height: 32px;\">
	<xsl:if test=\"/root/cka/owner/collectiveInvestment='Y'\"><xsl:value-of select=\"/root/cka/owner/transactionType\"/></xsl:if>
	<xsl:if test=\"/root/cka/owner/insuranceInvestment='Y' and /root/cka/owner/collectiveInvestment='Y'\">
	, 
	</xsl:if>
	<xsl:if test=\"/root/cka/owner/insuranceInvestment='Y'\"><xsl:value-of select=\"/root/cka/owner/insuranceType\"/></xsl:if>
	</div>
	</td>
	<td class=\"pd4 nborder\">
	<div class=\"ta\" style=\"min-height: 32px;\">
	</div>
	</td>
	</tr>

	<tr>
	<td class=\"nborder b pd8\" rowspan=\"3\">Work <br/>Experience</td>
	<td class=\"nborder pd4\" rowspan=\"3\" colspan=\"2\">
	<div class=\"dt w100\" style=\"height: 120px; overflow: hidden;\">
			<div class=\"nlb2\"/>
		<div class=\"dtc\" style=\"width: 20px;\">
		(4) 
		</div>
		<div class=\"dtc\">
			<div>You have a minimum of 3 consecutive years of working experience (in the past 10 years) in</div>
			<table class=\"w100 pt9\">
				<tr>
					<td style=\"width: 50%; vertical-align: top\"><xsl:choose><xsl:when test=\"/root/cka/owner/profession = 'aip' or /root/cka/spouse/profession = 'aip'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> analysis of,</td>
					<td style=\"width: 50%; vertical-align: top\"><xsl:choose><xsl:when test=\"/root/cka/owner/profession = 'rip' or /root/cka/spouse/profession = 'rip'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> research on,</td>
				</tr>
				<tr>
					<td style=\"width: 50%; vertical-align: top\"><xsl:choose><xsl:when test=\"/root/cka/owner/profession = 'dip' or /root/cka/spouse/profession = 'dip'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> development of,</td>
					<td style=\"width: 50%; vertical-align: top\"><xsl:choose><xsl:when test=\"/root/cka/owner/profession = 'sip' or /root/cka/spouse/profession = 'sip'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> structuring of,</td>
				</tr>
				<tr>
					<td style=\"width: 50%; vertical-align: top\"><xsl:choose><xsl:when test=\"/root/cka/owner/profession = 'mip' or /root/cka/spouse/profession = 'mip'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> management of,</td>
					<td style=\"width: 50%; vertical-align: top\"><xsl:choose><xsl:when test=\"/root/cka/owner/profession = 'saleInvestmentProducts' or /root/cka/spouse/profession = 'saleInvestmentProducts'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> sale of,</td>
				</tr>
				<tr>
					<td style=\"width: 50%; vertical-align: top\"><xsl:choose><xsl:when test=\"/root/cka/owner/profession = 'ptip' or /root/cka/spouse/profession = 'ptip'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> provision of training in,</td>
					<td style=\"width: 50%; vertical-align: top\"><xsl:choose><xsl:when test=\"/root/cka/owner/profession = 'tip' or /root/cka/spouse/profession = 'tip'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> trading of,</td>
				</tr>
				<tr>
					<td colspan=\"2\"><xsl:choose><xsl:when test=\"/root/cka/owner/profession = 'plai' or /root/cka/spouse/profession = 'plai'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> provision of legal advice in investment products.</td>
				</tr>
				<tr>
					<td colspan=\"2\"><br/>Work experience in the following will also be considered relevant experience:</td>
				</tr>
				<tr>
					<td style=\"width: 50%; vertical-align: top\"><xsl:choose><xsl:when test=\"/root/cka/owner/profession = 'accountancy' or /root/cka/spouse/profession = 'accountancy'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> accountancy</td>
					<td style=\"width: 50%; vertical-align: top\"><xsl:choose><xsl:when test=\"/root/cka/owner/profession = 'acturialScience' or /root/cka/spouse/profession = 'acturialScience'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> actuarial science</td>
				</tr>
				<tr>
					<td style=\"width: 50%; vertical-align: top\"><xsl:choose><xsl:when test=\"/root/cka/owner/profession = 'treasury' or /root/cka/spouse/profession = 'treasury'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> treasury</td>
					<td style=\"width: 50%; vertical-align: top\"><xsl:choose><xsl:when test=\"/root/cka/owner/profession = 'frma' or /root/cka/spouse/profession = 'frma'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> financial risk management activity</td>
				</tr>
			</table>
		</div>
	</div>
	</td>
	<td class=\"nborder pd4\">
	<div class=\"ib pdr8\"><xsl:choose><xsl:when test=\"/root/cka/owner/profession and not(/root/cka/owner/profession ='notApplicable')\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> Yes</div>
	<div class=\"ib\"><xsl:choose><xsl:when test=\"/root/cka/owner/profession ='notApplicable'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose> No</div>
	</td>
	<td class=\"nborder pd4\">
	<div class=\"ib pdr8\"><div class=\"ncrbtn ib\"/> Yes</div>
	<div class=\"ib\"><div class=\"ncrbtn ib\"/> No</div>
	</td>
	</tr>
	<tr>
	<td class=\"pd4 nborder\" colspan=\"2\">
	If Yes, please provide the number of years of experience:
	</td>
	</tr>
	<tr>
	<td class=\"pd4 nborder\">
	<div class=\"ta\" style=\"min-height: 16px;\"><xsl:if test=\"/root/cka/owner/profession and not(/root/cka/owner/profession ='notApplicable')\"><xsl:value-of select=\"/root/cka/owner/years\"/></xsl:if></div>
	</td>
	<td class=\"pd4 nborder\">
	<div class=\"ta\" style=\"min-height: 16px;\"></div>
	</td>
	</tr>
	</table>

	<table class=\"w100 pt9\" style=\"border: solid 2.25pt red\">
	<tr>
	<td class=\"nsheader2 nborder\">Customer Knowledge Assessment Outcome</td>
	<td class=\"nsheader2 nborder tc\" style=\"width: 48px;\">Myself</td>
	<td class=\"nsheader2 nborder tc\" style=\"width: 48px;\">Spouse</td>
	</tr>
	<tr>
	<td class=\"nborder pd8\">
	<ul style=\"padding: 16px; padding-top: 4px; padding-bottom: 8px; margin: 0px;\">
	<li><font class=\"u b\">You have met</font> the Customer Knowledge Assessment criteria and are deemed to possess the knowledge or experience for transactions in a Collective Investment Scheme or an Investment-linked Policy.</li>
	</ul>
	<div class=\"b pt9\">
	If you do not wish to receive advice concerning a Collective Investment Scheme or an Investment-linked Policy, (i) it is your responsibility to ensure the suitability of the Collective Investment Scheme or the Investment-linked Policy selected and (ii) you will not be able to rely on Section 27 of the Financial Advisers Act to file a civil claim in the event you allege you have suffered a loss.   
	</div>
	</td>
	<td class=\"nborder tc\"><xsl:choose><xsl:when test=\"/root/cka/owner/isValid = 'Y'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose></td>
	<td class=\"nborder tc\"><div class=\"ncrbtn ib\"/></td>
	</tr>
	<tr>
	<td class=\"nborder pd8 pt9\">
	<ul style=\"padding: 16px; padding-top: 4px; padding-bottom: 8px; margin: 0px;\">
	<li><font class=\"u b\">You have not met</font> the Customer Knowledge Assessment criteria and are deemed to not possess the knowledge or experience for transactions in a Collective Investment Scheme or an Investment-linked Policy without advice.</li>
	</ul>
	<div class=\"b pt9\">
	Please approach your Financial Consultant for advice.
	</div>
	</td>
	<td class=\"nborder tc\"><xsl:choose><xsl:when test=\"/root/cka/owner/isValid = 'N'\"><div class=\"crbtn ib\"/></xsl:when><xsl:otherwise><div class=\"ncrbtn ib\"/></xsl:otherwise></xsl:choose></td>
	<td class=\"nborder tc\"><div class=\"ncrbtn ib\"/></td>
	</tr>
	</table>

	<div class=\"w100 dt pt8\">
		<div class=\"dtc b \" style=\"width: 32px; color: red\">NOTE: </div>
		<div class=\"dtc\">For joint applications, both will be considered NOT satisfying the CKA requirements if ANY party is deemed not to possess the relevant knowledge or experience. <br/>For more information on investing in unlisted Specified Investments Products, please visit: <br/>
			<font style=\"color: blue\">http://www.moneysense.gov.sg</font>
		</div>
	</div>
	<div class=\"pagebreak\"/>
	<table class=\"pt8 w100\">
	<tr>
	<td colspan=\"3\" class=\"nheader nborder\">
	My Investment Risk Profile
	</td>
	</tr>
	<tr>
	<td colspan=\"3\">
	<div><font class=\"b\">Note to Clients:</font> The following questions are designed to determine your investment risk profile taking into account your financial needs, circumstances and objectives. Please indicate your preferences. You should only consider investing in higher risk investments after setting aside your emergency funds (6-12 months of expenses).</div>
	<div class=\"mt8 b\">For planning of policy(ies) with investment/cash value, please answer <font class=\"rc\">ALL</font> questions</div>
	<div class=\"pt11 mt8 rc b\">Risk Profile Assessment:</div>
	<div class=\"mt8 mb8 b\">The score to each question is provided next to the option. Please tick the score to determine your risk profile.</div>
	</td>
	</tr>
	<tr>
	<td class=\"bc b\">Question 1</td>
	<td class=\"rheader\">Myself</td>
	<td class=\"rheader\">Spouse</td>
	</tr>
	<tr>
	<td colspan=\"3\">
	<div class=\"mb8\">Please review the line below and indicate your preferred risk / return objective on the scoring table at the side.</div>
	</td>
	</tr>
	<tr>
	<td class=\"tc\" rowspan=\"5\">
	<div class=\"dt\" style=\"margin: auto\">
	<div class=\"dtc\" style=\"width: 60px;\">
	Lowest risk &amp; potential return
	</div>
	<div class=\"dtc riskimg\" style=\"width: 240px; height: 60px;\"/>
	<div class=\"dtc\" style=\"width: 60px;\">
	Highest risk &amp; potential return
	</div>
	</div>
	</td>
	<td class=\"nborder tc\" style=\"border-top: solid #D1D3D4 1.0pt\">
	<div class=\"ntb\"/>
	<xsl:if test=\"/root/ra/owner/riskPotentialReturn = 1\"><div class=\"tick\"/></xsl:if>1
	</td>
	<td class=\"nborder tc\">
	<div class=\"ntb\"/>
	<xsl:if test=\"/root/ra/spouse/riskPotentialReturn = 1\"><div class=\"tick\"/></xsl:if>1
	</td>
	</tr>
	<tr>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/riskPotentialReturn = 2\"><div class=\"tick\"/></xsl:if>2
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/riskPotentialReturn = 2\"><div class=\"tick\"/></xsl:if>2
	</td>
	</tr>
	<tr>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/riskPotentialReturn = 3\"><div class=\"tick\"/></xsl:if>3
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/riskPotentialReturn = 3\"><div class=\"tick\"/></xsl:if>3
	</td>
	</tr>
	<tr>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/riskPotentialReturn = 4\"><div class=\"tick\"/></xsl:if>4
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/riskPotentialReturn = 4\"><div class=\"tick\"/></xsl:if>4
	</td>
	</tr>
	<tr>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/riskPotentialReturn = 5\"><div class=\"tick\"/></xsl:if>5
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/riskPotentialReturn = 5\"><div class=\"tick\"/></xsl:if>5
	</td>
	</tr>
	<tr>
	<td colspan=\"3\">
	<div style=\"height: 16px; width: 100%\"/>
	</td>
	</tr>
	<tr>
	<td class=\"bc b\">Question 2</td>
	<td class=\"rheader\">Myself</td>
	<td class=\"rheader\">Spouse</td>
	</tr>
	<tr>
	<td colspan=\"3\">
	What is the average annualised gross return (before deduction of fees and changes) you reasonably expect to <br/>achieve from your investment portfolio(s), over a period of at least 10 years?
	</td>
	</tr>
	<tr>
	<td>a)  between 2 - 3.5%</td>
	<td class=\"nborder tc\">
	<div class=\"ntb\"/>
	<xsl:if test=\"/root/ra/owner/avgAGReturn = 1\"><div class=\"tick\"/></xsl:if>1
	</td>
	<td class=\"nborder tc\">
	<div class=\"ntb\"/>
	<xsl:if test=\"/root/ra/spouse/avgAGReturn = 1\"><div class=\"tick\"/></xsl:if>1
	</td>
	</tr>
	<tr>
	<td>b) &gt; 3.5 - 5% </td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/avgAGReturn = 2\"><div class=\"tick\"/></xsl:if>2
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/avgAGReturn = 2\"><div class=\"tick\"/></xsl:if>2
	</td>
	</tr>
	<tr>
	<td>c)  &gt; 5 - 6.5%</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/avgAGReturn = 3\"><div class=\"tick\"/></xsl:if>3
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/avgAGReturn = 3\"><div class=\"tick\"/></xsl:if>3
	</td>
	</tr>
	<tr>
	<td>d) &gt; 6.5 - 8%</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/avgAGReturn = 4\"><div class=\"tick\"/></xsl:if>4
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/avgAGReturn = 4\"><div class=\"tick\"/></xsl:if>4
	</td>
	</tr>
	<tr>
	<td>e) &gt; 8%</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/avgAGReturn = 5\"><div class=\"tick\"/></xsl:if>5
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/avgAGReturn = 5\"><div class=\"tick\"/></xsl:if>5
	</td>
	</tr>

	<tr>
	<td colspan=\"3\">
	<div style=\"height: 16px; width: 100%\"/>
	</td>
	</tr>
	<tr>
	<td class=\"bc b\">Question 3</td>
	<td class=\"rheader\">Myself</td>
	<td class=\"rheader\">Spouse</td>
	</tr>
	<tr>
	<td colspan=\"3\">
	If stock markets have dropped by 15-20% in its value over a year, you would most likely:
	</td>
	</tr>
	<tr>
	<td>a)  Sell the whole investment - I wouldn't want to lose any more money</td>
	<td class=\"nborder tc\">
	<div class=\"ntb\"/>
	<xsl:if test=\"/root/ra/owner/smDroped = 1\"><div class=\"tick\"/></xsl:if>1
	</td>
	<td class=\"nborder tc\">
	<div class=\"ntb\"/>
	<xsl:if test=\"/root/ra/spouse/smDroped = 1\"><div class=\"tick\"/></xsl:if>1
	</td>
	</tr>
	<tr>
	<td>b) Sell part of the investment - it could go back up, but I don't want to risk everything just in case it doesn't</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/smDroped = 2\"><div class=\"tick\"/></xsl:if>2
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/smDroped = 2\"><div class=\"tick\"/></xsl:if>2
	</td>
	</tr>
	<tr>
	<td>c)  Hold the investment - it's likely that it will increase in value again soon</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/smDroped = 3\"><div class=\"tick\"/></xsl:if>3
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/smDroped = 3\"><div class=\"tick\"/></xsl:if>3
	</td>
	</tr>
	<tr>
	<td>d) Buy cautiously while the value is low - when the value goes up, I'll likely make a reasonably good return</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/smDroped = 4\"><div class=\"tick\"/></xsl:if>4
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/smDroped = 4\"><div class=\"tick\"/></xsl:if>4
	</td>
	</tr>
	<tr>
	<td>e) Buy aggressively while the value is low - this is a great buying opportunity</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/smDroped = 5\"><div class=\"tick\"/></xsl:if>5
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/smDroped = 5\"><div class=\"tick\"/></xsl:if>5
	</td>
	</tr>

	<tr>
	<td colspan=\"3\">
	<div style=\"height: 16px; width: 100%\"/>
	</td>
	</tr>
	<tr>
	<td class=\"bc b\">Question 4</td>
	<td class=\"rheader\">Myself</td>
	<td class=\"rheader\">Spouse</td>
	</tr>
	<tr>
	<td colspan=\"3\">
	What is the acceptable level of losses you are able to accept in a bear market period ?
	</td>
	</tr>
	<tr>
	<td>a)  -8%</td>
	<td class=\"nborder tc\">
	<div class=\"ntb\"/>
	<xsl:if test=\"/root/ra/owner/alofLosses = 1\"><div class=\"tick\"/></xsl:if>1
	</td>
	<td class=\"nborder tc\">
	<div class=\"ntb\"/>
	<xsl:if test=\"/root/ra/spouse/alofLosses = 1\"><div class=\"tick\"/></xsl:if>1
	</td>
	</tr>
	<tr>
	<td>b)  -14%</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/alofLosses = 2\"><div class=\"tick\"/></xsl:if>2
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/alofLosses = 2\"><div class=\"tick\"/></xsl:if>2
	</td>
	</tr>
	<tr>
	<td>c) -20%</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/alofLosses = 3\"><div class=\"tick\"/></xsl:if>3
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/alofLosses = 3\"><div class=\"tick\"/></xsl:if>3
	</td>
	</tr>
	<tr>
	<td>d)  -30%</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/alofLosses = 4\"><div class=\"tick\"/></xsl:if>4
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/alofLosses = 4\"><div class=\"tick\"/></xsl:if>4
	</td>
	</tr>
	<tr>
	<td>e) -40%</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/alofLosses = 5\"><div class=\"tick\"/></xsl:if>5
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/alofLosses = 5\"><div class=\"tick\"/></xsl:if>5
	</td>
	</tr>

	<tr>
	<td colspan=\"3\">
	<div style=\"height: 16px; width: 100%\"/>
	</td>
	</tr>
	<tr>
	<td class=\"bc b\">Question 5</td>
	<td class=\"rheader\">Myself</td>
	<td class=\"rheader\">Spouse</td>
	</tr>
	<tr>
	<td colspan=\"3\">
	What is the expected investment time horizon for your investment?
	</td>
	<td> #</td>
	</tr>
	<tr>
	<td>a)  3 years or less</td>
	<td class=\"nborder tc\">
	<div class=\"ntb\"/>
	<xsl:if test=\"/root/ra/owner/expInvTime = 1\"><div class=\"tick\"/></xsl:if>1
	</td>
	<td class=\"nborder tc\">
	<div class=\"ntb\"/>
	<xsl:if test=\"/root/ra/spouse/expInvTime = 1\"><div class=\"tick\"/></xsl:if>1
	</td>
	</tr>
	<tr>
	<td>b)  &gt; 3 to 5 years</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/expInvTime = 2\"><div class=\"tick\"/></xsl:if>2
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/expInvTime = 2\"><div class=\"tick\"/></xsl:if>2
	</td>
	</tr>
	<tr>
	<td>c)   &gt; 5 to 7 years</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/expInvTime = 3\"><div class=\"tick\"/></xsl:if>3
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/expInvTime = 3\"><div class=\"tick\"/></xsl:if>3
	</td>
	</tr>
	<tr>
	<td>d)   &gt; 7 to 10 years</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/expInvTime = 4\"><div class=\"tick\"/></xsl:if>4
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/expInvTime = 4\"><div class=\"tick\"/></xsl:if>4
	</td>
	</tr>
	<tr>
	<td>e)   &gt; 10 years</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/expInvTime = 5\"><div class=\"tick\"/></xsl:if>5
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/expInvTime = 5\"><div class=\"tick\"/></xsl:if>5
	</td>
	</tr>


	<tr>
	<td colspan=\"3\">
	<div style=\"height: 16px; width: 100%\"/>
	</td>
	</tr>
	<tr>
	<td class=\"bc b\">Question 6</td>
	<td class=\"rheader\">Myself</td>
	<td class=\"rheader\">Spouse</td>
	</tr>
	<tr>
	<td colspan=\"3\">
	How would you describe your investment preference?
	</td>
	<td> #</td>
	</tr>
	<tr>
	<td>a) I have a short term (3 years or less) investment focus and prefer an investment with minimal chance of losing money</td>
	<td class=\"nborder tc\">
	<div class=\"ntb\"/>
	<xsl:if test=\"/root/ra/owner/invPref = 1\"><div class=\"tick\"/></xsl:if>1
	</td>
	<td class=\"nborder tc\">
	<div class=\"ntb\"/>
	<xsl:if test=\"/root/ra/spouse/invPref = 1\"><div class=\"tick\"/></xsl:if>1
	</td>
	</tr>
	<tr>
	<td>b) I am willing to take some risk but can only accept low amount of losses over the medium term (&gt;3-5 years)</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/invPref = 2\"><div class=\"tick\"/></xsl:if>2
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/invPref = 2\"><div class=\"tick\"/></xsl:if>2
	</td>
	</tr>
	<tr>
	<td>c) I have a medium term (&gt;5-10 years) investment focus and can accept moderate losses</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/invPref = 3\"><div class=\"tick\"/></xsl:if>3
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/invPref = 3\"><div class=\"tick\"/></xsl:if>3
	</td>
	</tr>
	<tr>
	<td>d) I have a long-term (more than 10 years) investment focus and will ride out the good times and the bad times</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/invPref = 4\"><div class=\"tick\"/></xsl:if>4
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/invPref = 4\"><div class=\"tick\"/></xsl:if>4
	</td>
	</tr>
	<tr>
	<td>e)  I actively trade investments in the short-term (less than 1 year) to take advantage of short-term market movement</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/owner/invPref = 5\"><div class=\"tick\"/></xsl:if>5
	</td>
	<td class=\"nborder tc\">
	<xsl:if test=\"/root/ra/spouse/invPref = 5\"><div class=\"tick\"/></xsl:if>5
	</td>
	</tr>
	<tr>
	<td colspan=\"3\">
	<div style=\"height: 16px; width: 100%\"/>
	</td>
	</tr>
	<tr>
	<td style=\"border: 1px solid black;\">
	Total Scores (Questions 1 to 6)
	</td>
	<td class=\"tc\" style=\"border: 1px solid black;\"><xsl:value-of select=\"/root/ra/owner/totSource\"/></td>
	<td class=\"tc\" style=\"border: 1px solid black;\"><xsl:value-of select=\"/root/ra/spouse/totSource\"/></td>
	</tr>
	</table>
	<div class=\"pagebreak\"/>
	<div class=\"b pt9 mt16\">Determining your risk profile</div>
	<div class=\"pt8\">Please calculate your scores and find your risk profile below:</div>
	<div class=\"mt8 pt8\">Risk Profile Score</div>
	<table class=\"pt8\">
	<tr>
	<td colspan=\"5\" class=\"tc pd4 rlborder\" style=\"background: #E6E7E8\">
	Risk appetite total score
	</td>
	</tr>
	<tr>
	<td class=\"pd4 tc rlborder\" style=\"width: 72px;\">6 - 9</td>
	<td class=\"pd4 tc rlborder\" style=\"width: 72px;\">10 - 14</td>
	<td class=\"pd4 tc rlborder\" style=\"width: 72px;\">15 - 21</td>
	<td class=\"pd4 tc rlborder\" style=\"width: 72px;\">22 - 26</td>
	<td class=\"pd4 tc rlborder\" style=\"width: 72px;\">27 - 30</td>
	</tr>
	<tr>
	<td class=\"tc vc pt7 rlborder pd4\" style=\"background: #FED5B2\">Conservative</td>
	<td class=\"tc vc pt7 rlborder pd4\" style=\"background: #FAD5E5\">Moderately<br/>Conservative</td>
	<td class=\"tc vc pt7 rlborder pd4\" style=\"background: #C3E0AE\">Balanced</td>
	<td class=\"tc vc pt7 rlborder pd4\" style=\"background: #CCBEDE\">Moderately<br/>Aggressive</td>
	<td class=\"tc vc pt7 rlborder pd4\" style=\"background: #ABE1FA\">Aggressive</td>
	</tr>
	</table>
	<div class=\"mt8 pt9\">
	<div class=\"ib pdr8\" style=\"width: 48%;\">
	<div class=\"dt w100\">
	<div class=\"dtc rheader tl rborder\" style=\"width: 60%\">Myself: Assessed Risk Profile</div>
	<div class=\"dtc rborder tc\">
	<xsl:choose>
	<xsl:when test=\"/root/ra/owner/assessedRL = 1\">Conservative</xsl:when>
	<xsl:when test=\"/root/ra/owner/assessedRL = 2\">Moderately Conservative</xsl:when>
	<xsl:when test=\"/root/ra/owner/assessedRL = 3\">Balanced</xsl:when>
	<xsl:when test=\"/root/ra/owner/assessedRL = 4\">Moderately Aggressive</xsl:when>
	<xsl:when test=\"/root/ra/owner/assessedRL = 5\">Aggressive</xsl:when>
	</xsl:choose>
	</div>
	</div>
	</div>
	<div class=\"ib pdr8\" style=\"width: 48%;\">
	<div class=\"dt w100\">
	<div class=\"dtc rheader tl rborder\" style=\"width: 60%\">Spouse: Assessed Risk Profile</div>
	<div class=\"dtc rborder tc\">
	<xsl:choose>
	<xsl:when test=\"/root/ra/spouse/assessedRL = 1\">Conservative</xsl:when>
	<xsl:when test=\"/root/ra/spouse/assessedRL = 2\">Moderately Conservative</xsl:when>
	<xsl:when test=\"/root/ra/spouse/assessedRL = 3\">Balanced</xsl:when>
	<xsl:when test=\"/root/ra/spouse/assessedRL = 4\">Moderately Aggressive</xsl:when>
	<xsl:when test=\"/root/ra/spouse/assessedRL = 5\">Aggressive</xsl:when>
	</xsl:choose>
	</div>
	</div>
	</div>
	</div>
	<div class=\"mt8 pt9\">If you are deemed not to have passed the Customer Knowledge Assessment (CKA), you need to adhere to the assessed risk profile.</div>
	<div class=\"mt16 pt9\">If you passed the CKA but disagree with the above risk profile, you may indicate your preferred risk profile below and state your reasons for the change.</div>
	<div class=\"mt8 pt9\">
	<div class=\"ib mr8 vt\" style=\"width: 48%; border: solid 1px black\">
	<div class=\"pd8\">
	I have passed CKA and I am stating that my preferred risk profile for this investment purpose is 
	<div class=\"u ib pt8 b\" style=\"width: 180px\">
	<xsl:choose>
	<xsl:when test=\"/root/ra/owner/selfSelectedriskLevel = 1\">Conservative</xsl:when>
	<xsl:when test=\"/root/ra/owner/selfSelectedriskLevel = 2\">Moderately Conservative</xsl:when>
	<xsl:when test=\"/root/ra/owner/selfSelectedriskLevel = 3\">Balanced</xsl:when>
	<xsl:when test=\"/root/ra/owner/selfSelectedriskLevel = 4\">Moderately Aggressive</xsl:when>
	<xsl:when test=\"/root/ra/owner/selfSelectedriskLevel = 5\">Aggressive</xsl:when>
	</xsl:choose>
	</div><br/>
	<div class=\"mt16\">My reasons are:</div>
	</div>
	<div class=\"pd8\" style=\"min-height: 42px;\">
	<xsl:value-of select=\"/root/ra/owner/selfRLReasonRP\"/>
	</div>
	</div>
	<div class=\"ib mr8 vt\" style=\"width: 48%; border: solid 1px black\">
	<div class=\"pd8\">
	I have passed CKA and I am stating that my preferred risk profile for this investment purpose is 
	<div class=\"u ib pt8 b\" style=\"width: 180px\">
	<xsl:choose>
	<xsl:when test=\"/root/ra/spouse/selfSelectedriskLevel = 1\">Conservative</xsl:when>
	<xsl:when test=\"/root/ra/spouse/selfSelectedriskLevel = 2\">Moderately Conservative</xsl:when>
	<xsl:when test=\"/root/ra/spouse/selfSelectedriskLevel = 3\">Balanced</xsl:when>
	<xsl:when test=\"/root/ra/spouse/selfSelectedriskLevel = 4\">Moderately Aggressive</xsl:when>
	<xsl:when test=\"/root/ra/spouse/selfSelectedriskLevel = 5\">Aggressive</xsl:when>
	</xsl:choose>
	</div><br/>
	<div class=\"mt16\">My reasons are:</div>
	</div>
	<div class=\"pd8\" style=\"min-height: 42px;\">
	<xsl:value-of select=\"/root/ra/spouse/selfRLReasonRP\"/>
	</div>
	</div>
	</div>
	<div class=\"rc pt11 mt8\">Risk Profile descriptions:</div>
	<table class=\"w100 pt8 mt16\">
	<tr>
	<td class=\"rheader tl nborder\" style=\"width:120px;\">
	<div class=\"pd4\">Profile</div>
	</td>
	<td class=\"nsheader2 nborder\">
	<div class=\"pd4\">Description of Investor</div>
	</td>
	</tr>
	<tr>
	<td class=\"b nborder tc\">Conservative</td>
	<td class=\"nborder\"><div class=\"pd4\">You require a very secure income with little fluctuation in capital value. You do not accept much downside and may need the capital in the next few years. Your risk tolerance is low.</div></td>
	</tr>
	<tr>
	<td class=\"b nborder tc\">Moderately<br/>Conservative</td>
	<td class=\"nborder\"><div class=\"pd4\">You require a stable income and expect small fluctuations in value to gain modest capital growth.</div></td>
	</tr>
	<tr>
	<td class=\"b nborder tc\">Balanced</td>
	<td class=\"nborder\"><div class=\"pd4\">You desire a reasonable stable income stream, but also desire a steady growth in capital value. You are prepared for fluctuations to achieve reasonable capital growth over the medium term.</div></td>
	</tr>
	<tr>
	<td class=\"b nborder tc\">Moderately<br/>Aggressive</td>
	<td class=\"nborder\"><div class=\"pd4\">You have little or no need for ongoing income from your investments. Your investment focus is to achieve capital growth with no need to access capital in the long term. You are prepared to accept fluctuations in capital value to achieve longer term wealth accumulation.</div></td>
	</tr>
	<tr>
	<td class=\"b nborder tc\">Aggressive</td>
	<td class=\"nborder\"><div class=\"pd4\">You have no need for ongoing income from your investments. Your investment focus is to achieve higher levels of capital growth with no need to access capital for the long term. You are prepared to accept wide fluctuations in capital value and may be prepared to invest additional sums during market downturn.</div></td>
	</tr>
	</table>
	<div class=\"pagebreak\"/>